################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs
/WebApi/ChatInteractionService/bin/Debug/net8.0
/WebApi/DataLayer/obj
/WebApi/DataLayer/bin/Debug/net8.0
/WebApi/ChatInteractionService/obj/Debug/net8.0/ref
/WebApi/ChatInteractionService/obj/Debug/net8.0/refint
/WebApi/ChatInteractionService/obj/Debug/net8.0/staticwebassets
/WebApi/ChatInteractionService/obj/**
/WebApi/ChatInteractionService/obj/Debug/net8.0/**
/WebApi/WebAPIService/bin/Debug/net8.0
/WebApi/WebAPIService/obj/Debug/net8.0
/WebApi/WebAPIService/obj
/WebApi/ChatInteractionService/obj/Debug/net8.0/ChatInteractionService.AssemblyInfo.cs
/WebApi/ChatInteractionService/obj/Debug/net8.0/ChatInteractionService.AssemblyInfoInputs.cache
/WebApi/ChatInteractionService/obj/Debug/net8.0/ChatInteractionService.assets.cache
/WebApi/ChatInteractionService/obj/Debug/net8.0/ChatInteractionService.csproj.AssemblyReference.cache
/WebApi/ChatInteractionService/obj/Debug/net8.0/ChatInteractionService.GeneratedMSBuildEditorConfig.editorconfig
/WebApi/ChatInteractionService/obj/ChatInteractionService.csproj.nuget.dgspec.json
/WebApi/ChatInteractionService/obj/ChatInteractionService.csproj.nuget.g.props
/WebApi/ChatInteractionService/obj/ChatInteractionService.csproj.nuget.g.targets
/WebApi/ChatInteractionService/obj/project.assets.json
/WebApi/ChatInteractionService/obj/project.nuget.cache
/MavJest/.vs/MavJest/config/applicationhost.config
/MavJest/.vs/MavJest/DesignTimeBuild/.dtbcache.v2
/MavJest/.vs/MavJest/FileContentIndex
/MavJest/.vs/MavJest/v17/.futdcache.v2
/MavJest/.vs/MavJest/v17/.suo
/MavJest/.vs/MavJest/v17/DocumentLayout.json
/MavJest/.vs/ProjectEvaluation
/MavJest/ChatInteractionService/bin/Debug/net8.0
/MavJest/.vs/MavJest/DesignTimeBuild/.dtbcache.v2
/MavJest/.vs/MavJest/v17/.suo
/MavJest/.vs/MavJest/v17/.futdcache.v2
/MavJest/ChatInteractionService/obj/Debug/net8.0
/MavJest/ChatInteractionService/obj
/MavJest/DataLayer/bin/Debug/net8.0
/MavJest/DataLayer/obj
/MavJest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MavJest/obj/Debug/net6.0/MavJest.AssemblyInfo.cs
/MavJest/obj/Debug/net6.0/MavJest.AssemblyInfoInputs.cache
/MavJest/obj/MavJest.csproj.nuget.dgspec.json
/MavJest/obj/MavJest.csproj.nuget.g.props
/MavJest/obj/MavJest.csproj.nuget.g.targets
/MavJest/obj/project.assets.json
/MavJest/obj/project.nuget.cache
/MavJest/WebAPIService/bin/Debug/net8.0
/MavJest/WebAPIService/obj
